.container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;           /* Centra verticalmente los elementos */
    padding: 10px;                /* Espacio opcional a los lados del contenedor */
  }
  
  /* Estilo para las imágenes */
  .logo-universidad,
  .image-ejemplo {
    width: 90%; /* Ajusta el tamaño deseado */
    height: auto; /* Mantiene la proporción de aspecto */
  }
  
  /* Si las imágenes deben tener el mismo tamaño exacto */
  .logo-universidad,
  .image-ejemplo {
    max-width: 120%; /* Ajusta según el tamaño deseado */
    max-height: 120px; /* Ajusta la altura máxima si es necesario */
    object-fit: cover; /* Asegura que las imágenes se ajusten sin distorsión */
  }

.image-ejemplo{
    float: right;
}

h1{
    color: #000000;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

